.notFound-continer{
    background-color:red;
   width:100%;
   height:100%;
   text-align:center;
   padding-top: 10px;
   

}
.notFound-card{
    display: flexbox;
    width:50%;
    height:100%;
    text-align:center;
    padding:25px;
    margin:10px auto;
    justify-content: space-between;

}

.element{
    margin-top: 20px;
}