

<div class="notFound-continer">
    <div class="notFound-card">
        <div class="element">
           <h1 >No Pokemon Found !</h1> 
        </div>
        <div class="element">
          <img src="./../../assets/images/notFound.png" >
        </div>
    </div>
   

  </div>