<div class="body">
<div style="height: 20vh;"> </div>
    <div class=" continer">
        <div class="image" > <img  src="./../../assets/Pokeball.png" /></div>
        <div class="PokemonName">
            <span>Pokemon Name or Id</span>
            <input type="text"  id="searchTxt" class="form-control" >
        </div>
        
        <div>
            <div class="row">
                <div class="col-6"> <button type="button" class="btn btn-danger"  (click)="onClick()">Search</button></div>
                <div class="col-6"><button type="button" class="btn btn-danger" >Random</button> </div>
            </div>
        </div>
    </div>
    </div>