.continer{
    background-color:var(--wbColer);
   width:100%;
   height:100%;
   text-align:center;
   padding-top: 90px;

}
.card{
    background-color: white;
    width:60%;
    height:520px;
    text-align:center;
    padding:5px;
    margin:10px auto;
}
.types{
    display: inline-block;
    margin-right: 20px; /* Optional: Add margin between items */
}
.type{
    border-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.description{
    font-size: 18px;
}
.buttons{
    padding: 10px;
}
.content{
    padding-left: 28%;
}
.buttonCls{
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    font-size: 15px;
}
.stat{
    padding: 5px;
}
.text{
    font-size: 12px;
}
.value{
    color:var(--wbColer);
}
.containerStat {
    background-color: #ddd;
    
}
.statValue{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:var(--wbColer);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align:center;
    border: none;

}

td, th {
width: 30%;
border: none;
text-align: left;
padding: 8px;
}
.base{
    
}