

<div class="continer" *ngIf="selectedPokemon">
  <div class="card">
      <div> <img [src]="imageUrl" /></div>
      <div>
          Name: {{ selectedPokemon.name }} 
      </div>
      <div>
        <div class="types" *ngFor="let type of typeNames">
          <div class="type" [style.background-color]="type.color">{{type.name}}</div>
        </div>
      </div>
      <div class="description">{{description}}</div>
      <div class="buttons">
        <button class="buttonCls" [style.background-color]="btnStatsColor" [style.color]="textStatsColor" (click)="onClickStats()" >STATS</button> 
        <button class="buttonCls" [style.background-color]="btnEvolutionsColor" [style.color]="textEvolutionsColor" (click)="onClickEvolutions()" >EVOLUTIONS</button> 
        <button class="buttonCls" [style.background-color]="btnMovesColor" [style.color]="textMovesColor" (click)="onClickMoves()" >MOVES</button> 
      </div>
      <div class="content">
        <div *ngIf="showStats">
          <table>
            <tr class="stats" *ngFor="let stat of stats">
              <th class="stat text">
                 {{stat.name}}
              </th>
              <th class="stat text value">
                {{stat.base}}
              </th>
              <th>
                <div class="containerStat">
                  <div class="statValue" [style.width.px]="stat.base"></div>
                </div>
              </th>
            </tr>
          </table>
        </div>
        <div *ngIf="showEvolutions">
          evolutions
        </div>
        <div *ngIf="showMoves">
          Moves
        </div>

      </div>
  </div>
 

</div>